<article class="<%= post['id'] % 2 == 0 ? 'post-container grey-background' : 'post-container' %>">
  <figure class="post-image">
    <img src="<%= post['image_url'] %>">
  </figure>
  <div class="post-content">
    <a href="#"><h3 class="post-title"><%= post["title"] %></h3></a>
    <p class="post-body"><%= post["body"] %></p>
    <p class="post-date"><i class="far fa-clock"></i> <%= time_ago_in_words(post["created_at"]) %> ago</p>
  </div>
  <div class="post-author">
    <% author = @authors.select { |author| author["id"] == post["author_id"]} %>
    <img src="<%= author[0]['avatar_url'] %>">
    <p class="author-name"><%= author[0]["name"] %> </p>
    <p class="author-role"><%= author[0]["role"] %></p>
    <p class="author-place"><i class="fas fa-map-marker-alt"></i> <%= author[0]["place"] %></p>
  </div>
</article>