<h1>MAQE Forums</h1>
<h2>Subtitle</h2>
<h3>Posts</h3>
<div>
  <% 0.upto(7) do |i| %>
    <%= render partial: 'shared/post', locals: { post: @posts[i] } %>
  <% end %>
</div>
<div class="pagination">
  <a href="#">Previous</a>
  <a href="#" class="current">1</a>
  <a href="#">2</a>
  <a href="#">3</a>
  <a href="#">4</a>
  <a href="#">5</a>
  <a href="#">6</a>
  <a href="#">7</a>
  <a href="#">8</a>
  <a href="#">Next</a>
</div>