/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@mixin box_sizing{
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* End of reset */

html {
  font-family: "Arial";
  padding: 40px;
}

h1{
  font-size: 25px;
  margin-bottom: 13px;
}

h2 {
  font-size: 19px;
  margin-bottom: 13px;
}

h3 {
  font-size: 16px;
  margin-bottom: 13px;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 13px;
}

/* Post */

.post-container {
  display: flex;
  flex-wrap: nowrap;

  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 15px;
  margin-bottom: 20px;
  height: 180px;
  -webkit-box-shadow: 0 10px 6px -6px #ddd;
     -moz-box-shadow: 0 10px 6px -6px #ddd;
          box-shadow: 0 10px 6px -6px #ddd;
}

.post-image {
  width: 15%;
}

.post-image img {
  width: 100%;
}

.post-content {
  padding: 0 10px;
  width: 67%;
  vertical-align: top;
  border-right: 1px solid #ccc;
  height: 100%;
}

.post-body {
  color: rgba(0,0,0,.9);
}

.post-date {
  font-style: italic;
  color: #aaa;
}

.post-author {
  padding-left: 13px;
  text-align: center;
  width: 15%;
}

.post-author img {
  border-radius: 50%;
  width: 50%;
}

.author-name {
  margin: 13px;
  color: #c63635;
}

.author-role {
  margin: 13px;
}

.author-place {
  font-size: 12px;
}

.grey-background {
  background-color: #f0f0f0;
}

/* Pagination */

.pagination {
  margin-top: 50px;
  text-align: center;
  font-size: 13px;
}

.pagination a {
  margin-left: 13px;
}

.pagination .current {
  background-color: #c63635;
  border-radius: 50%;
  color: #fff;
  padding: 5px 9px;
}


